#### In this assignment, students will be using the K-nearest neighbors algorithm to predict how many points NBA players scored in the 2013-2014 season.

In [17]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
with open("nba_2013.csv", 'r') as csvfile:
    nba = pd.read_csv(csvfile)

In [18]:
nba.describe()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
count,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,479.000000,481.000000,481.000000,414.000000,...,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.0
mean,26.509356,53.253638,25.571726,1237.386694,192.881497,424.463617,0.436436,39.613306,110.130977,0.285111,...,55.810811,162.817048,218.627859,112.536383,39.280665,24.103950,71.862786,105.869023,516.582121,2013.0
std,4.198265,25.322711,29.658465,897.258840,171.832793,368.850833,0.098672,50.855639,132.751732,0.157633,...,62.101191,145.348116,200.356507,131.019557,34.783590,30.875381,62.701690,71.213627,470.422228,0.0
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2013.0
25%,23.000000,32.000000,0.000000,388.000000,47.000000,110.000000,0.400500,0.000000,3.000000,0.234355,...,12.000000,43.000000,55.000000,20.000000,9.000000,4.000000,21.000000,44.000000,115.000000,2013.0
50%,26.000000,61.000000,10.000000,1141.000000,146.000000,332.000000,0.438000,16.000000,48.000000,0.330976,...,35.000000,135.000000,168.000000,65.000000,32.000000,14.000000,58.000000,104.000000,401.000000,2013.0
75%,29.000000,76.000000,54.000000,2016.000000,307.000000,672.000000,0.479500,68.000000,193.000000,0.375000,...,73.000000,230.000000,310.000000,152.000000,60.000000,32.000000,108.000000,158.000000,821.000000,2013.0
max,39.000000,83.000000,82.000000,3122.000000,849.000000,1688.000000,1.000000,261.000000,615.000000,1.000000,...,440.000000,783.000000,1114.000000,721.000000,191.000000,219.000000,295.000000,273.000000,2593.000000,2013.0

In [19]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [20]:
nba["fg."].fillna(nba["fg."].mean(),inplace=True)
nba["x2p."].fillna(nba["x2p."].mean(),inplace=True)
nba["efg."].fillna(nba["efg."].mean(),inplace=True)
nba["x3p."].fillna(nba["x3p."].mean(),inplace=True)
nba["ft."].fillna(nba["ft."].mean(),inplace=True)

In [21]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.             False
x3p             False
x3pa            False
x3p.            False
x2p             False
x2pa            False
x2p.            False
efg.            False
ft              False
fta             False
ft.             False
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [22]:
nba_cat = nba[['player', 'bref_team_id', 'season']]
nba_cat.head()

          player bref_team_id     season
0     Quincy Acy          TOT  2013-2014
1   Steven Adams          OKC  2013-2014
2    Jeff Adrien          TOT  2013-2014
3  Arron Afflalo          ORL  2013-2014
4  Alexis Ajinca          NOP  2013-2014

In [23]:
nba_numric = [];
nba_numric_cols = [];
for col in nba.columns:
    if nba[col].dtype == "int64" or nba[col].dtype == "float64":
        nba_numric.append(nba[col])
        nba_numric_cols.append(col)
        
nba_numric = pd.DataFrame(preprocessing.normalize(nba_numric))
nba_numric = nba_numric.T
nba_numric.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.039074,0.048723,0.000000,0.025276,0.011655,0.011438,0.047697,0.002831,0.003968,0.037955,...,0.039341,0.030097,0.033227,0.007396,0.019997,0.030285,0.014349,0.043612,0.011165,0.045596
1,0.033977,0.062644,0.023301,0.035721,0.016423,0.015007,0.051264,0.000000,0.000000,0.040581,...,0.077590,0.039711,0.051071,0.011359,0.034777,0.066394,0.033960,0.072567,0.017302,0.045596
2,0.045870,0.040989,0.013980,0.028678,0.025252,0.022308,0.052997,0.000000,0.000000,0.040581,...,0.055734,0.042638,0.047072,0.010038,0.020866,0.041933,0.018654,0.038607,0.023635,0.045596
3,0.047568,0.056457,0.085048,0.076157,0.081938,0.082012,0.046780,0.090595,0.079352,0.060728,...,0.017485,0.048072,0.040303,0.065510,0.030430,0.003494,0.069832,0.048617,0.086837,0.045596
4,0.042472,0.043310,0.034951,0.028380,0.024016,0.020199,0.055647,0.000000,0.000265,0.000000,...,0.051362,0.038248,0.042611,0.010566,0.019997,0.053581,0.030133,0.066848,0.021415,0.045596

In [24]:
nba_numric.columns = nba_numric_cols
nba_numric.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
0,0.039074,0.048723,0.000000,0.025276,0.011655,0.011438,0.047697,0.002831,0.003968,0.037955,...,0.039341,0.030097,0.033227,0.007396,0.019997,0.030285,0.014349,0.043612,0.011165,0.045596
1,0.033977,0.062644,0.023301,0.035721,0.016423,0.015007,0.051264,0.000000,0.000000,0.040581,...,0.077590,0.039711,0.051071,0.011359,0.034777,0.066394,0.033960,0.072567,0.017302,0.045596
2,0.045870,0.040989,0.013980,0.028678,0.025252,0.022308,0.052997,0.000000,0.000000,0.040581,...,0.055734,0.042638,0.047072,0.010038,0.020866,0.041933,0.018654,0.038607,0.023635,0.045596
3,0.047568,0.056457,0.085048,0.076157,0.081938,0.082012,0.046780,0.090595,0.079352,0.060728,...,0.017485,0.048072,0.040303,0.065510,0.030430,0.003494,0.069832,0.048617,0.086837,0.045596
4,0.042472,0.043310,0.034951,0.028380,0.024016,0.020199,0.055647,0.000000,0.000265,0.000000,...,0.051362,0.038248,0.042611,0.010566,0.019997,0.053581,0.030133,0.066848,0.021415,0.045596

In [25]:
nba_new = pd.concat([nba_numric, nba_cat], axis=1)
nba_new.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ast,stl,blk,tov,pf,pts,season_end,player,bref_team_id,season
0,0.039074,0.048723,0.000000,0.025276,0.011655,0.011438,0.047697,0.002831,0.003968,0.037955,...,0.007396,0.019997,0.030285,0.014349,0.043612,0.011165,0.045596,Quincy Acy,TOT,2013-2014
1,0.033977,0.062644,0.023301,0.035721,0.016423,0.015007,0.051264,0.000000,0.000000,0.040581,...,0.011359,0.034777,0.066394,0.033960,0.072567,0.017302,0.045596,Steven Adams,OKC,2013-2014
2,0.045870,0.040989,0.013980,0.028678,0.025252,0.022308,0.052997,0.000000,0.000000,0.040581,...,0.010038,0.020866,0.041933,0.018654,0.038607,0.023635,0.045596,Jeff Adrien,TOT,2013-2014
3,0.047568,0.056457,0.085048,0.076157,0.081938,0.082012,0.046780,0.090595,0.079352,0.060728,...,0.065510,0.030430,0.003494,0.069832,0.048617,0.086837,0.045596,Arron Afflalo,ORL,2013-2014
4,0.042472,0.043310,0.034951,0.028380,0.024016,0.020199,0.055647,0.000000,0.000265,0.000000,...,0.010566,0.019997,0.053581,0.030133,0.066848,0.021415,0.045596,Alexis Ajinca,NOP,2013-2014

In [32]:
x = nba_new.drop(['pts','player', 'bref_team_id', 'season'], axis=1)
x.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,season_end
0,0.039074,0.048723,0.000000,0.025276,0.011655,0.011438,0.047697,0.002831,0.003968,0.037955,...,0.040711,0.039341,0.030097,0.033227,0.007396,0.019997,0.030285,0.014349,0.043612,0.045596
1,0.033977,0.062644,0.023301,0.035721,0.016423,0.015007,0.051264,0.000000,0.000000,0.040581,...,0.035838,0.077590,0.039711,0.051071,0.011359,0.034777,0.066394,0.033960,0.072567,0.045596
2,0.045870,0.040989,0.013980,0.028678,0.025252,0.022308,0.052997,0.000000,0.000000,0.040581,...,0.039415,0.055734,0.042638,0.047072,0.010038,0.020866,0.041933,0.018654,0.038607,0.045596
3,0.047568,0.056457,0.085048,0.076157,0.081938,0.082012,0.046780,0.090595,0.079352,0.060728,...,0.050271,0.017485,0.048072,0.040303,0.065510,0.030430,0.003494,0.069832,0.048617,0.045596
4,0.042472,0.043310,0.034951,0.028380,0.024016,0.020199,0.055647,0.000000,0.000265,0.000000,...,0.051567,0.051362,0.038248,0.042611,0.010566,0.019997,0.053581,0.030133,0.066848,0.045596

In [33]:
y = nba_new['pts']

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.8, random_state=0)

In [35]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

In [36]:
knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                    weights='uniform')

In [37]:
y_pred = knn.predict(x_test)

In [40]:
pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()}).head()

   Actual Points  Predicted Points
0       0.028467          0.019938
1       0.046814          0.045116
2       0.071559          0.064214
3       0.001241          0.002383
4       0.064508          0.058338